.register-pet-container {
    background-color: var(--color-purple);

}
.register-pet-container h3 {
    color: var(--color-green);
    margin-bottom: 40px;
}

.register-pet-inner-container {
    flex-basis: 563px;
    margin: 43px 20px;
}

.top-form-entry-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

label span {
    margin-bottom: 8px;
    margin-left: 10px;
    color: var(--color-green);
}



input,
input:focus,
input::placeholder,
select,
textarea,
textarea::placeholder {
    width: 100%;
    padding: 13px;
    margin: 4px 0 10px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    resize: none;
    color: var(--color-green);
    background-color: var(--color-light-yellow);
}

