/* -------------------- Container Styling -------------------- */

.register-pet-outer-container {
    background-color: var(--color-ochre);
}

.register-pet-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 563px;
    margin: 43px 20px;
}

.top-form-entry-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.register-pet-value-field {
    margin-bottom: 8px;
    margin-left: 10px;
    color: var(--color-white);
}

.top-form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;}

/* -------------------- Typoography styling -------------------- */

.register-pet-outer-container h1 {
    color: var(--color-purple);
    margin-bottom: 40px;

}



/* -------------------- Upload image styling -------------------- */

.pet-photo-upload-bar {
    background-color: var(--color-light-yellow);
    border-radius: 20px;
    padding: 6px;
    width: 100%;
    flex-direction: column;
    align-items: center;}


.pet-photo-upload-bar input[type="file"] {
    display: none;
}

.pet-photo-upload-bar .upload-button {
    background-color: var(--color-purple);
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--color-green);
}

.pet-photo-upload-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.pet-photo-upload-bar .upload-button:hover {
    background-color: var(--color-ochre);
}

.pet-photo-upload-bar .upload-file-name {
    color: var(--color-green);
    padding-left: 10px;
    margin-top: 1px;
}

.pet-photo-upload-bar span {
    color: var(--color-green);
    margin-left: 0;
    align-items:  center;
}


/* -------------------- Button container -------------------- */

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

/* ------------------------------- 4. Media Queries -------------------------------- */

@media only screen and (max-width: 768px) {
    .top-form-entry-wrapper {
        grid-template-columns: 1fr;
    }
}


