.outer-login-container {
    position: relative;
    overflow: hidden;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.outer-login-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: url("../../assets/gerbil-photo-login-page.png") no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.outer-login-container h1 {
    color: var(--color-purple);
}

.login-inner-container {
        flex-basis: 1120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 60px 20px;
    }

.login-inner-container h1 {
    margin-top: -20px;
    margin-bottom: 20px;
}

.login-input-fields-container {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
}



.login-inner-container label p {
    color: var(--color-light-yellow);
}






.login-inner-container button {
    margin-top: 25px;
    margin-right: 10px;
}


/* ------------------------------- 4. Media Queries -------------------------------- */

@media (max-width: 768px) {
    .login-inner-container {
        flex-direction: column;
    }
    .login-input-fields-container, .login-photo-wrapper {
        flex-basis: auto;
        margin-left: 0;
    }
}

