.outer-login-container {
    background-color: var(--color-green);
    /*border: 3px solid deeppink;*/
    color: var(--color-light-yellow);
}


.login-inner-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    flex-basis: 100%;

}

.login-inner-container h3 {
    margin-top: -20px;
}

.login-input-fields-container {
    flex-basis: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 15%;
    /*border: 2px solid mediumseagreen;*/
}



.login-inner-container label p {
    color: var(--color-light-yellow);
}


.login-photo-wrapper {
    flex-basis: 52%;
    font-size: 0;
    max-height: 558px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.login-photo {
    min-height: 500px;
    object-fit: cover;
    object-position: 100% 75%;
    height: 100%;

}

.login-inner-container button {
    margin-top: 25px;
    margin-right: 10px;
}


/* ------------------------------- 4. Media Queries -------------------------------- */

@media (max-width: 768px) {
    .login-inner-container {
        flex-direction: column;
    }
    .login-input-fields-container, .login-photo-wrapper {
        flex-basis: auto;
        margin-left: 0;
    }
}

