/*----- container styling -----*/

.pet-info-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.special-padding {
    padding: 0;
}

/*----- container image -----*/

.pet-row-image {
    width: 9.375rem;
    align-self: center;
    border-radius: 1.25rem;

}





