.mypets-outer-container {
    background-color: var(--color-ochre);
}

.mypets-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    gap: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    flex-wrap: wrap;
    max-width: 800px;
    /*border: 3px solid red;*/
}

.mypets-gallery img {
    border-radius: 10px;
    object-fit: cover;
    height: 160px;
    width: 160px;
}

.pet-gallery-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*border: 3px solid white;*/
}

.button-wrapper {
    display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
}

.mypets-gallery .pet-image-wrapper {
    position: relative;
    display: inline-block;
}

.mypets-gallery .pet-image-wrapper img {
    border-radius: 10px;
    object-fit: cover;
    height: 160px;
    width: 160px;
}

.mypets-gallery .pet-name-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: var(--color-light-yellow);
    color: var(--color-black);
    text-align: center;
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
}
