/*.button {*/
/*    border: none;*/
/*    background-color: transparent;*/
/*}*/

/*.button-primary {*/
/*    background-color: transparent;*/
/*    color: var(--color-purple);*/
/*    display: inline;*/
/*}*/

.button-invisible {
    background-color: transparent;
    border: none;
    min-width: 200px;
}