.button-primary {
    background-color: transparent;
    border: 3px solid var(--color-ochre);
    color: var(--color-white);
    display: inline;
}

.button-secondary {
    background-color: var(--color-purple);
    color: var(--color-black);
    border: 0 solid transparent;
}

.button-tertiary {
    background-color: var(--color-green);
    color: var(--color-light-yellow);
    border: 0 solid transparent;
}

.button {
    padding: 9px 13px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    padding: 9px 13px;
}

.button-invisible {
    background-color: transparent;
    border: none;
    min-width: 200px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}
