.edit-form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.25rem;
    gap: 1.25rem;
}

.inner-pet-form-container {
    margin: 0 1.25rem;
    color: var(--color-white);
}

.edit-pet-row {
    margin: 0.31rem 0;
}

/* ------------------------------- 4. Media Queries -------------------------------- */

@media only screen and (max-width: 768px) {
    .inner-pet-form-container {
        margin: 1.875rem;
    }
}

