.pet-boarding-text h3 {
    margin-bottom: 40px;
    color: var(--color-ochre);
}

.pet-boarding-photo {
   display: block;
    object-fit: cover;
    max-height: 600px;
}

.top-container {
    background-color: var(--color-light-yellow);
}


.bottom-container,
.bottom-container p {
    background-color: var(--color-green);
    color: var(--color-white);
}
