/* -------------------- Container Styling -------------------- */

.logbook-card-inner-container {
    max-width: 50rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbook-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* -------------------- Label Styling -------------------- */

.logbook-name-date-label {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-purple);
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 0 0.95rem;
    gap: 1.25rem;
}

.logbook-name-date-label p,
.logbook-name-date-label time {
    color: var(--color-green);
    padding: 0.45rem 0;
}


/* -------------------- Content Styling -------------------- */

.logbook-card-content {
    background-color: var(--color-purple);
    margin-bottom: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border-radius: 0 1.25rem 1.25rem 1.25rem;
}

.logbook-card-inner-container p {
    color: var(--color-green);
}


/* -------------------- Upload images -------------------- */

.logbook-image-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logbook-image {
    max-height: 40.625rem;
    max-width: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
}


/* -------------------- Decorative Elements -------------------- */

.logbook-squiggle-image {
    margin-bottom: 3.75rem;
    margin-top: 1.875rem;
    width: 6.25rem;
    height: 1.25rem;
    background-image: url("../../assets/squiggle.png");
    background-size: 4.275rem 0.75rem;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}
