.logbooklog-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
}

.logbook-image-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logbook-image {
    max-height: 650px;
    max-width: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}


.name-date-label {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-purple);
    border-radius: 20px 20px 0 0;
    padding: 0 15px;
    gap: 20px;
}


.name-date-label p {
    color: var(--color-green);
    padding: 7px 0;
}


.logbooklog-card-inner-container {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbooklog-card-inner-container p {
    color: var(--color-green);

}

.logbook-squiggle-image {
    margin-bottom: 60px;
    margin-top: 30px;
    width: 100px;
    height: 20px;
    background-image: url("../../assets/squiggle.png");
    background-size: 70px 12px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.logbooklog-label-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logbooklog-card {
    background-color: var(--color-purple);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border-radius: 0 20px 20px 20px;
}