.home-photo-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 187px 187px 0 0;
}

.home-photo-bottom {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 187px;
}

.article-photo {
    flex-basis: 375px;
    font-size: 0;
    /*border: 2px solid red;*/
    height: 489px;
}

.animal-icon {
    max-width: 208px;
    font-size: 0;
    margin: 20px 0;
}

.article__text-container {
    flex-basis: 586px;
    text-align: center;
    /*border: 2px solid greenyellow;*/
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-text-container {
    margin-bottom: 30px;
}

.green-container h1,
.green-container p {
    color: var(--color-white);
}

.green-purple-container {
    width: 100%;
    background: linear-gradient(
            -75deg,
            var(--color-purple) 0%,
            var(--color-purple) 30%,
            var(--color-green) 0%,
            var(--color-green) 100%)
}