/* --------------- Photo"s ----------------------- */

.home-photos {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.home-photo-top {
    border-radius: 187px 187px 0 0;
}

.home-photo-bottom {
    border-radius: 187px;
}

.home-article-photo {
    flex-basis: 375px;
    font-size: 0;
    height: 489px;
}


/* --------------- Text & containers ----------------------- */

.top-article-container {
    background-color: var(--color-light-yellow);
}

.home-article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid green;*/
}

.article__text-container {
    flex-basis: 586px;
    text-align: center;
    /*border: 2px solid deeppink;*/
}

.header-text-container {
    margin-bottom: 30px;
    /*border: 2px solid red;*/
}

.bottom-article-container {
    width: 100%;
    background: linear-gradient(
            -75deg,
            var(--color-purple) 0%,
            var(--color-purple) 30%,
            var(--color-green) 0%,
            var(--color-green) 100%)
}

.bottom-article-container h3,
.bottom-article-container p {
    color: var(--color-white);
}

.center-text-container {
    background-color: var(--color-ochre);
    padding: 0;
}