.main-navigation {
    background-color: var(--color-white);
    padding: 16px 0;
}

.main-navigation a,
.main-navigation:visited {
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation a:hover {
    color: var(--color-ochre);
}

.inner-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 1120px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.default-link {
    color: var(--color-black);
}

.active-link {
    color: var(--color-ochre);
}

.main-navigation img {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
}

.my-account-text {
    color: var(--color-ochre);
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-ochre);
    width: 170px;
    z-index: 1;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 12px 15px;
}

.dropdown-content a:hover {
    background-color: var(--color-purple);
}

.dropdown-container::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-ochre);
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown-container:hover::after {
    transform: rotate(180deg);
}