/* -------------------- Container Styling -------------------- */

.logbook-manager-outer-container {
    background-color: var(--color-ochre);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logbook-manager-inner-container textarea,
.logbook-manager-inner-container select,
.logbook-manager-inner-container input[type="file"] {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    color: var(--color-green);
}

.logbook-manager-inner-container textarea {
    min-height: 18.75rem;
    width: 45rem;
    resize: vertical;
}

/* -------------------- Typography Styling -------------------- */


.logbook-manager-inner-container h1 {
    color: var(--color-purple);
    margin-bottom: 1.875rem;
}

.logbook-manager-inner-container label {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    color: var(--color-white);
}


/* -------------------- Succes message -------------------- */


.success-message {
    text-align: center;
    margin-top: 1.25rem;
    padding: 0.625rem;
    color: var(--color-black);
    border-radius: 0.3125rem;
}

/* -------------------- upload image styling -------------------- */


input[type="file"]::file-selector-button {
    background-color: var(--color-purple);
    color: var(--color-green);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 0.3125rem 1.875rem;
    font-family: Amiko, sans-serif;
    margin-right: 0.625rem;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--color-ochre);
}

input[type='file'] {
    font-family: Amiko, sans-serif;
    font-size: 1rem;
}

/* -------------------- media queries -------------------- */


@media only screen and (max-width: 768px) {

    .logbook-manager-inner-container textarea {
        min-height: 12rem;
    }

    .logbook-manager-inner-container {
        width: 100%;
    }

    .logbook-manager-inner-container textarea,
    .logbook-manager-inner-container input[type="file"] {
        width: 100%;
    }

    input[type="file"]::file-selector-button {
        padding: 0.3125rem 1.25rem;
        font-size: 0.875rem;
    }
}