
.logbook-manager-outer-container {
    background-color: var(--color-purple);
    min-height: 60vh;
    /*padding: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logbook-manager-inner-container h3 {
    color: var(--color-green);
    margin-bottom: 30px;
}

.logbook-manager-inner-container label {
    /*display: block;*/
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--color-green);
}

.logbook-manager-inner-container textarea,
.logbook-manager-inner-container select,
.logbook-manager-inner-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--color-green);
}

.logbook-manager-inner-container textarea {
    height: auto;
    min-height: 300px;
    width: 500px;
    resize: vertical;
}


.success-message {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
}
