/*----------- Container styling -----------*/

.status-outer-container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    background-color: var(--color-green);
    text-align: center;
}

/*----------- Typography styling -----------*/

.inner-container h1 {
    margin-bottom: 2.5rem;
}

