/* --------------- Text ----------------------- */
.footer-text {
    margin: 0 0 0 20px;
}

.footer-text h5 {
    color: var(--color-ochre);
}

.footer-text p {
    line-height: 1.8;
    font-size: 0.9em;
    margin-block: 0.5em;
    font-weight: 400;
    padding: 0;
    text-align: left;
}

/* --------------- Containers ----------------------- */

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-container {
    flex-basis: 215px;
}

.footer__contact-container {
    max-width: 184px;
}

.footer__times-container {
    max-width: 356px;
}

