.create-account-container {
    background-color: var(--color-ochre);
    color: var(--color-purple);
}

.create-account-container h3 {
    margin-bottom: 40px;
    color: var(--color-purple);
}

.create-account-container span {
    color: var(--color-purple);
}


/*// i want the span name be next to the input*/

