/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        2.1 Navigation
        2.2 Introduction
        2.3 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Zen+Old+Mincho:wght@400;600;700&display=swap');

:root {
    --color-ochre: #BD9327;
    --color-green: #036147;
    --color-black: #242424;
    --color-light-yellow: #FFFAD0;
    --color-white: #FFFFFF;
    --color-purple: #E3D6FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, h6, h7 {
    font-family: 'Amiko', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 184%;
    color: var(--color-black);
    background-color: var(--color-white);
}


/* ------------------------------- 2. Typography ---------------------------------------- */

h1, h2, h3, h4, h5, h8 {
    font-family: 'Zen Old Mincho', 'Times New Roman', serif;
    font-weight: 400;
}

h1 {
    font-size: 45px;
    line-height: 108%
}

h2 {
    color: var(--color-white);
    font-size: 19px;
    line-height: 165%;
}

h3 {
    color: var(--color-white);
    font-size: 30px;
}

h4 {
    color: var(--color-light-yellow);
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

h6 {
    color: var(--color-green);
}

h7 {
    font-weight: 700;
}

h8 {
    font-size: 35px;
    line-height: 115%;
}

h9 {
    font-size: 14px;
    line-height: 162%;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--color-ochre);
}

a:active {
    color: var(--color-ochre);
}

img {
    width: 100%;
}

.black-text {
    color: var(--color-black);
}

.white-text {
    color: var(--color-white);
}

.ochre-text {
    color: var(--color-ochre);
}

.green-text {
    color: var(--color-green);
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /*border: 2px solid red;*/
}

.inner-container {
    flex-basis: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 20px;
    /*border: 2px solid pink;*/
}

.narrow-inner-container {
    flex-basis: 854px;
    text-align: center;
    margin: 43px 20px;
}

.yellow-container {
    background-color: var(--color-light-yellow);
}

.ochre-container {
    background-color: var(--color-ochre);
}
.purple-container {
    background-color: var(--color-purple);
}

.green-container {
    background-color: var(--color-green);
}


/* --------------- 3.2 Other  ----------------------- */


/* ------------------------------- 4. Areas -------------------------------- */
/* --------------- 4.1 Navigation  ----------------------- */
/* --------------- 4.2 Introduction  ----------------------- */
/* --------------- 4.3 Footer  ----------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */
