/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Zen+Old+Mincho:wght@400;600;700&display=swap");

:root {
    --color-ochre: #BD9327;
    --color-green: #036147;
    --color-black: #242424;
    --color-light-yellow: #FFFAD0;
    --color-white: #FFFFFF;
    --color-purple: #E3D6FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amiko", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-black);
    background-color: var(--color-white);
}


/* ------------------------------- 2. Typography ---------------------------------------- */

h1, h2, h3, h4, h5 {
    font-family: "Zen Old Mincho", "Times New Roman", serif;
    font-weight: 400;
}


h1 {
    font-size: 2.8em;
    line-height: 1.2;
}

h2 {
    color: var(--color-white);
    font-size: 1.2em;
    line-height: 1.6;
}

h3 {
    color: var(--color-white);
    font-size: 1.8em;
    line-height: 1.4;
}

h4 {
    color: var(--color-light-yellow);
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
    color: var(--color-green);
    font-weight: 700;
}

h6 {
    color: var(--color-black);
    line-height: 1.8;
    font-size: 0.9em;
    margin-block: 0.5em;
    font-weight: 400;
}

p {
    padding: 17px 0;
}

form p {
    color: var(--color-white);
}

form h3 {
    line-height: 2.4;
}

label p {
    padding: 5px 0;
}

form span {
    color: var(--color-white);

}

.error-text {
    color: darkred;
    font-size: 0.75em;
    text-align: left;
    margin-left: 10px;
}


.form-subtext {
    font-size: 0.75em;
    color: var(--color-white);
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /*border: 2px solid red;*/
}

.inner-container {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 20px;
    /*border: 2px solid pink;*/
}

.narrow-inner-container {
    flex-basis: 854px;
    text-align: center;
    margin: 43px 20px;
    border: 2px solid green;
}

.yellow-container {
    background-color: var(--color-light-yellow);
}

.ochre-container {
    background-color: var(--color-ochre);
}

.purple-container {
    background-color: var(--color-purple);
}

.green-container {
    background-color: var(--color-green);
}

.animal-icon {
    max-width: 208px;
    margin: 20px 0;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--color-ochre);
}

a:active {
    color: var(--color-ochre);
}

img {
    width: 100%;
}


input,
input:focus,
input::placeholder,
select,
textarea,
textarea::placeholder {
    width: 100%;
    padding: 13px;
    margin: 4px 0 10px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    outline: none;
    resize: none;
    color: var(--color-green);
    background-color: var(--color-light-yellow);
}

ul {
    list-style-type: none;
}


/* --------------- 3.2 Other  ----------------------- */


/* ------------------------------- 4. Media Queries -------------------------------- */
@media only screen and (max-width: 768px) {
    .inner-container {
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
    }
}