/*----------- Containers -----------*/

.bookingmanager-outer-container {
    background-color: var(--color-green);
}

.bookingmanager-inner-container h1,
.bookingmanager-inner-container td {
    color: var(--color-white);
}

/*----------- Media Queries -----------*/

@media only screen and (max-width: 768px) {
    .bookingmanager-inner-container th,
    .bookingmanager-inner-container td {
        padding: 0.25rem;
        font-size: 0.875rem;
    }

    .bookingmanager-inner-container th:nth-child(5), .bookingmanager-inner-container td:nth-child(5), /* Verbergt de 'Additional Info' kolom */
    .bookingmanager-inner-container th:nth-child(1), .bookingmanager-inner-container td:nth-child(1) { /* Verbergt de 'Booking id' kolom */
        display: none;
    }
}