.login-required-section {
    min-height: 60vh;
    display: flex;
    align-items: center;
    background-color: var(--color-light-yellow);
}

.login-required-section h3 {
    color: var(--color-green);
}