.logbook-outer-container {
    background-color: var(--color-green);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbook-outer-container p {
    color: var(--color-white);
}