.logbook-outer-container {
    background-color: var(--color-ochre);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbook-outer-container h1 {
    color: var(--color-light-yellow);

}


.logbook-outer-container p {
    color: var(--color-light-yellow);
}